<!DOCTYPE html>
<html lang="it">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<title>Risultati Elettorali</title>
		<link href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css' rel='stylesheet' type='text/css' />
		<link href='css.css' rel='stylesheet' type='text/css' />
		<link href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css' rel='stylesheet' type='text/css' />
		<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
			filter: none;
			}
		  </style>
		<![endif]-->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		 <script type="text/javascript">
		  google.load("visualization", "1", {packages:["corechart"]});
		  google.setOnLoadCallback(drawChart);
		  function drawChart() {
			var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
			chart.draw(
					google.visualization.arrayToDataTable([
						['Lista', 'Percentuale'],
						<% if(risultatiSenato!=null)
							for (var i = 0; i<risultatiSenato.length;i++) { %>
							["<%= risultatiSenato[i].id %> - <%= risultatiSenato[i].descrizione %>", <%= risultatiSenato[i].percentuale %>] <% if (i < (risultatiSenato.length-1)) { %>,<%}%> 
						<% } %>
					]),{});
			var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
			chart2.draw(
					google.visualization.arrayToDataTable([
						['Lista', 'Percentuale'],
						<% if(risultatiCamera!=null)
							for (var i = 0; i<risultatiCamera.length;i++) { %>
							["<%= risultatiCamera[i].id %> - <%= risultatiCamera[i].descrizione %>", <%= risultatiCamera[i].percentuale %>] <% if (i < (risultatiCamera.length-1)) { %>,<%}%> 
						<% } %>
					]),{});

		  };
		</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38739616-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body class="gradient">
	<!-- Part 1: Wrap all page content here -->
	<div id="wrap">

		<!-- Begin page content -->
		<div class="container">
			<header class="page-header">
				<h1>Risultati Elettorali Comune di Cagliari</h1>
				<p class="muted credit">Sorgente dei dati <a href="http://www.comune.cagliari.it/portale/it/api_rest.page?internalServletFrameDest=7&amp;internalServletActionPath=/ExtStr2/do/Front/Api/Resource/detail.action&amp;resourceName=risultatiElezioni&amp;namespace=cagliari">Open Data Service del Comune di Cagliari</a>.</p>
			</header>
			
			<div class="row-fluid">
				<section class="span6">
					<article>
						<h2>Spoglio <%= spoglioSenato.descrizione %></h2>
						<dl>
							<dt>Aggiornamento</dt>
								<dd><%
									var senatoDate =new Date(spoglioSenato.lastUpdate)
								%><%= senatoDate %>
								</dd>
							<dt>Numero Totale dei Votanti</dt>
								<dd>
									<%= spoglioSenato.totaleVotanti %>
									<% if (spoglioSenato.totaleIscritti && spoglioSenato.totaleIscritti>0) { 
										var val = ((spoglioSenato.totaleVotanti*100) / spoglioSenato.totaleIscritti).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Totale degli Iscritti</dt>
								<dd><%= spoglioSenato.totaleIscritti %></dd>
							<dt>Schede valide</dt>
								<dd><%= spoglioSenato.totaleValide %></dd>
							<dt>Schede bianche</dt>
								<dd><%= spoglioSenato.totaleBianche %>
									<% if (spoglioSenato.totaleValide && spoglioSenato.totaleValide>0) { 
										var val = ((spoglioSenato.totaleBianche*100) / spoglioSenato.totaleValide).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Schede nulle</dt>
								<dd><%= spoglioSenato.totaleNulle %>
									<% if (spoglioSenato.totaleValide && spoglioSenato.totaleValide>0) { 
										var val = ((spoglioSenato.totaleNulle*100) / spoglioSenato.totaleValide).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Schede contestate</dt>
								<dd><%= spoglioSenato.totaleContestate %>
									<% if (spoglioSenato.totaleValide && spoglioSenato.totaleValide>0) { 
										var val = ((spoglioSenato.totaleContestate*100) / spoglioSenato.totaleValide).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Sezioni scrutinate</dt>
								<dd><%= spoglioSenato.sezioniScrutinate %>
									<% if (spoglioSenato.sezioniTotali && spoglioSenato.sezioniTotali>0) { 
										var val = ((spoglioSenato.sezioniScrutinate*100) / spoglioSenato.sezioniTotali).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Sezioni totali</dt>
								<dd><%= spoglioSenato.sezioniTotali %></dd>
						</dl>
					</article>
					<article>
						<h2>Risultati <%= spoglioSenato.descrizione %></h2>
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>lista</th>
									<th>voti</th>
									<th>percentuale</th>
								</tr>
							</thead>
							<% if(risultatiSenato!=null)
								for (var i = 0; i<risultatiSenato.length;i++) { %>
								<tr>
									<td>
										<%= risultatiSenato[i].id %>)
										<%= risultatiSenato[i].descrizione %>
									</td>
									<td><%= risultatiSenato[i].voti %></td>
									<td><strong><%= risultatiSenato[i].percentuale %>%</strong></td>
								</tr>
							<% } %>
						</table>
						<div id="chart_div1" class="chart"></div>
					</article>
				</section>
				<section class="span6">
					<article>
						<h2>Spoglio <%= spoglioCamera.descrizione %></h2>
						<dl>
							<dt>Aggiornamento</dt>
								<dd><% var cameraDate = new Date(spoglioCamera.lastUpdate); %><%= cameraDate %></dd>
							<dt>Numero Totale dei Votanti</dt>
								<dd>
									<%= spoglioCamera.totaleVotanti %>
									<% if (spoglioCamera.totaleIscritti && spoglioCamera.totaleIscritti>0) { 
										var val = ((spoglioCamera.totaleVotanti*100) / spoglioCamera.totaleIscritti).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Totale degli Iscritti</dt>
								<dd>
									<%= spoglioCamera.totaleIscritti %>
								</dd>
							<dt>Schede valide</dt>
								<dd><%= spoglioCamera.totaleValide %></dd>
							<dt>Schede bianche</dt>
								<dd><%= spoglioCamera.totaleBianche %>
									<% if (spoglioCamera.totaleValide && spoglioCamera.totaleValide>0) { 
										var val = ((spoglioCamera.totaleBianche*100) / spoglioCamera.totaleValide).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Schede nulle</dt>
								<dd><%= spoglioCamera.totaleNulle %>
									<% if (spoglioCamera.totaleValide && spoglioCamera.totaleValide>0) { 
										var val = ((spoglioCamera.totaleNulle*100) / spoglioCamera.totaleValide).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Schede contestate</dt>
								<dd><%= spoglioCamera.totaleContestate %>
									<% if (spoglioCamera.totaleValide && spoglioCamera.totaleValide>0) { 
										var val = ((spoglioCamera.totaleContestate*100) / spoglioCamera.totaleValide).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Sezioni scrutinate</dt>
								<dd><%= spoglioCamera.sezioniScrutinate %>
									<% if (spoglioCamera.sezioniTotali && spoglioCamera.sezioniTotali>0) { 
										var val = ((spoglioCamera.sezioniScrutinate*100) / spoglioCamera.sezioniTotali).toFixed(2)
										%>
										&emsp;<strong>(<%=val%>%)</strong>
									<% } %>
								</dd>
							<dt>Sezioni totali</dt>
								<dd><%= spoglioCamera.sezioniTotali %></dd>
						</dl>
					</article>
					<article>
						<h2>Risultati <%= spoglioCamera.descrizione %></h2>
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>lista</th>
									<th>voti</th>
									<th>percentuale</th>
								</tr>
							</thead>
							<% if(risultatiCamera!=null)
								for (var i = 0; i<risultatiCamera.length;i++) { %>
								<tr>
									<td>
										<%= risultatiCamera[i].id %>)
										<%= risultatiCamera[i].descrizione %>
									</td>
									<td><%= risultatiCamera[i].voti %></td>
									<td><strong><%= risultatiCamera[i].percentuale %>%</strong></td>
								</tr>
							<% } %>
						</table>
						<div id="chart_div2" class="chart"></div>
					</article>
				</section>
			</div>

		</div>

	</div>

	</body>
</html>